<h2>User Info</h2>
<%= attachment_image_tag user, :profile_image, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg",size:'100x100' %><br>
<br>
<br>
<br>
<br>
<h3 class="profile-name"><%= user.name %></h3>
<h3 class="profile-name"><%= user.introduction %></h3><br>
<% if user == current_user %>
<p><%= link_to "Edit",  edit_user_path(user),class: "glyphicon glyphicon-wrench" %></p>
<% end %>